server:
  port: 8080

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: car-inventory-service
          uri: lb://car-inventory-service
          predicates:
            - Path=/api/v1/car/**
        - id: booking-service
          uri: lb://booking-service
          predicates:
            - Path=/api/v1/booking/**
        - id: payment-service
          uri: lb://payment-service
          predicates:
            - Path=/api/v1/payment/**
        - id: customer-service
          uri: lb://customer-service
          predicates:
            - Path=/api/v1/customer/**
    openfeign:
      oauth2:
        enabled: true
        clientRegistrationId: okta

logging:
  level:
    org.springframework.cloud.gateway: DEBUG

okta:
  oauth2:
    client-id: CBwt9kKmcJYQqyl6cegmkgfrIkrK4mUM
    client-secret: QxAIjWIAIwbg8rNkFUVQe5e7s_8ZJJC73LToxoA3c35Gk21Wfj_eKWJLPiUboI4g
    issuer: https://dev-0e8jpd5zontmpora.us.auth0.com/
    audience: ${okta.oauth2.issuer}/api/v2/