spring:
    application:
        name: booking-service
    jpa:
        hibernate:
            ddl-auto: create-drop
        properties:
            hibernate:
                dialect: org.hibernate.dialect.PostgreSQLDialect
    datasource:
        url: jdbc:postgresql://localhost:5430/ms_booking
        username: admin
        password: 1234

server:
    port: 8081

eureka:
    client:
        service-url:
            defaultZone: http://localhost:8761/eureka/
        fetch-registry: true
        register-with-eureka: true

okta:
    oauth2:
        issuer: https://dev-0e8jpd5zontmpora.us.auth0.com/
        audience: ${okta.oauth2.issuer}api/v2/